<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qubeans.checkout">

    <application>
        <activity
            android:name=".SoofaCheckout"
            android:label="@string/title_activity_main"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden"
            />
    </application>

</manifest>